/*/ COlors */

$gray: gray;
$honey: honeydew;
$white: #ffffff;
$black: black;
$gold: #d4c17f;
$dark: #242b33;

/* fonts 
font-family: "Playfair Display", serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif; */

/* bootsrap if need 
link(rel="stylesheet", href="./node_modules/bootstrap/dist/css/bootstrap.min.css")

script(src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js") */
